.heart-title {
  /* font-size: 40px; */
  font-family: 'Pretendard-Bold';
  line-height: 1;
  padding: 0.5em 0 0.5em 2em;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 2em;
  margin-bottom: 16px;
}

/* main layout */
.main {
  display: flex;
  gap: 40px;
}

.main > section {
  flex-basis: 0;
}

.main .main-form {
  min-width: 360px;
  padding-right: 39px;
  border-right: 1px solid #ff4f6e;
  flex-grow: 1;
  flex-shrink: 0;
}
.main .main-diary {
  background-color: skyblue;
  flex-grow: 2;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .main .main-form {
    min-width: 100%;
    border: 0;
    padding: 0;
  }
}
