body,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

.contain {
    width: 520px;
    height: 736px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border: 1px solid var(--c-4-c-4-c-4, #C4C4C4);
    background: #FFF;
}
.header {
    display: inline-flex;
    height: 58px;
}

h1 {
    
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 188px;
    margin-right: 148px;
   
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #000;


}

.header img {
    width: 16px;
    height: 16px;
    margin: 22px 0 0 0;
}

.middle {
    height: 1px;
    background: #C4C4C4;
}

h2 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 26px;
    margin-left: 24px;
}

#input-id,
#input-pw {
    width: 472px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    background: #FFF;
    margin-left: 24px;
    display: block;
    box-sizing: border-box;
    
}
#input-id{
    margin-top: 24px;
    padding: 16px;
    outline-color:  #F4492E;
}
#input-pw{
    margin-top: 10px;
    padding: 16px;
    outline-color:  #F4492E;
}


#input-id::placeholder,
#input-pw::placeholder {
    color: #767676;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
    
}
/* ////////////////////// */


.login_error_wrap {
    display: none;

    position: relative;
    min-height: 34px;
    margin: 24px 0 -22px;
    padding-right: 40px;
    text-align: -webkit-match-parent;
}
.login_error_wrap::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
}








/* ////////////////////// */


label {
    cursor: pointer;
}
.txt-hide {
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
}

.labl-hold {
    position: relative;
}

.labl-hold::before {
    display: inline-block;
    content: '';
    width: 22px;
    height: 22px;
    margin-right: 10px;
    vertical-align: -5px;
    background: url('./images/check-box\ \(1\).svg');
}


.labl-hold::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 22px;
    width: 22px;
    height: 22px;
    background: url('/images/check-box_on.svg');
    opacity: 0;
   
}

.inphold:checked+.labl-hold::after {
    left: 0;
    opacity: 1;
}


.status {
    padding: 0;
    width: 155px;
    margin-left: 18px;
    margin-right: 8px;
    margin-top: 16px;
    margin-bottom: 20px;
    color: #767676;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
}

.login-btn {
    width: 472px;
    height: 50px;
    padding: 0;
    border: 0;
    border-radius: 5px;
    background: #2F80ED;
    border-color: #2F80ED;
    box-shadow: none;
    margin: 0;
    margin-left: 24px;

    /* margin: 0 24px 0 24px; */
    
    color: #fff;
    font-family: Spoqa Han Sans Neo;
    font-size: 18px;
}

.login-a a,
.login-a span{
    text-decoration: none;
    color: var(--767676, #767676);
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
}
.login-a {
    margin-top: 20px;
  
}
.login-a span {
    margin-right: 12px;
}
.login-a .sign  {
    margin-left: 158px;
    margin-right: 12px;
}

.else-1 {
    width: 210px;
    height: 1px;
    background: #C4C4C4;
}
.else-11 {
    margin-left: 24px;
}
.else-else {
    display: inline-flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.else-else span {
    color: var(--767676, #767676);
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 0;
   
}

.login-aaaa a {
    display: block;
    width: 472px;
    height: 50px;
    margin-left: 24px;
    margin-top: 10px;
    color: var(--767676, #767676);
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    font-weight: 500;
    
}

.login-aaaa .google {
    border-radius: 5px;
    border: 1px solid var(--767676, #767676);
    background: #FFF;
    background: url(./images/Google__G__Logo\ 1\ \(1\).png) no-repeat 11px, 0px, 11px, 12px;

}

.login-aaaa .face {
    border-radius: 5px;
    border: 1px solid #2D9CDB;
    background: #FFF;
    background: url(./images/facebook.png) no-repeat 11px, 0px, 11px, 12px;

}

.login-aaaa .naver {
    border-radius: 5px;
    border: 1px solid #00BF18;
    background: #FFF;
    background: url(./images/naver-logo.png) no-repeat 11px, 0px, 11px, 12px;

}

.login-aaaa .kakao {
    border-radius: 5px;
    border: 1px solid #F2C94C;
    background: #FFF;
    background: url(./images/message-circle.png) no-repeat 11px, 0px, 11px, 12px;
    margin-bottom: 25px;
}

