// 변수 생성하기
// 변수를 만들 때는 `$` 기호를 사용하셔서 스타일을 적용할 값(색상, 폰트 사이즈, 이미지url)을 저장합니다.

//$변수 : 값
// $bgColor : #FFF




$garam1: #000;
$garam2: #fff;
//한글 변수는 권장하지 않습니다.
$큰글자: 32px;

.one {
    font-size: $큰글자;
}

.two {
    color: $garam1;
}

.three {
    color: $garam2;
}