body{
    margin:0;
    height: 4825px;
    background: linear-gradient(to bottom, gold, royalblue);
  }
  svg{
    width: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
  path{
    fill:none;
    stroke: white;
    stroke-width:5px;
    stroke-linecap:round ;
    stroke-linejoin: round;
  }
  /* // */
  path {
    stroke: royalblue;
    stroke-width: 10px;
    stroke-dasharray: 1600;
    animation: svg 2s;
  }

  @keyframes svg {
    from {
      stroke-dashoffset: 1600;
    }

    to {
      stroke-dashoffset: 0;
    }
  }